PORT=5000
NODE_ENV=development
TZ=Asia/Kolkata

MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/attendance-management

JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters-long

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
